{{> header}}
<body>
  <title>A propos de nous</title>
  <div class="container col-6 mx-auto text-center">
    <div class="d-flex justify-content-center h-100">
      <h4 class="text-center">
        Notre équipe
      </h4>
    </div>
    <div class="card ">
      <div class="team-inner">
        <div class="container">
          <div class="row">
            <div class="text-block text-md-right">
              <h4>CAWNI Ismail</h4>
              <h6>Fondateur</h6>
              <p>Etudiant en L2 Informatique à l'université d'Aix Marseille, a participé à la fondation de Rendez-vous.</p>
            </div>
            <div class="text-block text-md-right">
              <h4>Nous contacter</h4>
              <p>Numéro de téléphone : +33 7 53 17 76 22</p>
              <p>Email : icawni14@gmail.com</p>
              <p>Où nous trouvez ? : 23 Rue Mathieu Stilatti, 13003, Marseille</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{{> footer}}
