{{> header}}


<div class="w3-container p-5 md-4">
  <h2>Detail du centre </h2>

  <div class="container">
    <div class="row">
      <div class="col p-4 d-flex flex-column position-static ">
        <p>
          {{#authenticated1}}
            <!--<a class="btn btn-warning me-2" href="/updateRDV/{{id_particulier}}">Modifier</a>-->
            <a class="btn btn-warning me-2" href="/deleteRDV/{{id_particulier}}">Supprimer</a>
          {{/authenticated1}}
        </p>
      </div>
    </div>
  </div>




  

  <div class="p-5 md-4 bg-light rounded-3" style="width:100%">

    <div class="w3-container w3-center">
      <p>Nom du patient : {{nameUser}}</p>
      <p>Nom du centre : {{name}}</p>
      <p>Heure du rendez-vous: {{heure}}</p>
      <p>Date du rendez-vous: {{date}}</p>
    </div>
  </div>

</div>







{{> footer}}
