<body>
	<div class="jumbotron mt-5">
		<div class="container">
			<h1 id="title" class="text-center"> Politique de confidentialité </h1>
			<h4> Dernière mise à jour: 14 avril 2021 </h4>
			<p> Cette politique de confidentialité décrit nos politiques et procédures sur la collecte, l'utilisation et la divulgation de vos informations lorsque vous utilisez le service et vous informe de vos droits à la confidentialité et de la manière dont la loi vous protège. </p>
			<p> Nous utilisons vos données personnelles pour fournir et améliorer le service. En utilisant le Service, vous acceptez la collecte et l'utilisation d'informations conformément à la présente politique de confidentialité.</p>

			<h1 id="dataUser"> Collecte et utilisation de vos données personnelles</h1>

			<h2> Types de données collectées </h2>
			<h3> Données personnelles </h3>
			<p> Lors de l'utilisation de notre service, nous pouvons vous demander de nous fournir certaines informations personnellement identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations personnellement identifiables peuvent inclure, mais sans s'y limiter: </p>
			<ul>	
				<li>
					<p> Nom </p>
				</li>
				<li>
					<p> Mot de passe</p>
				</li>
			</ul>	
			<h2> Utilisation de vos données personnelles </h2>
			<p> La Société peut utiliser les Données Personnelles aux fins suivantes: </p>
			<ul>
				<li>
					<p> <strong> Pour fournir et maintenir notre service </strong>, y compris pour surveiller l'utilisation de notre service. </p>
				</li>
				<li>
					<p> <strong> Pour gérer votre compte: </strong> pour gérer votre inscription en tant qu'utilisateur du service. Les données personnelles que vous fournissez peuvent vous donner accès à différentes fonctionnalités du service qui vous sont disponibles en tant qu'utilisateur enregistré. </p>
				</li>
				<li>
					<p> <strong> Pour l'exécution d'un contrat: </strong> le développement, la conformité et l'engagement du contrat d'achat pour les produits, articles ou services que vous avez achetés ou de tout autre contrat avec nous via le service. </p>
				</li>
				<li>
					<p> <strong> Pour Vous fournir </strong> des actualités, des offres spéciales et des informations générales sur d'autres biens, services et événements que nous proposons et similaires à ceux que vous avez déjà achetés ou sur lesquels vous vous êtes renseigné, sauf si vous avez choisi de ne pas le faire recevoir de telles informations. </p>
				</li>
				<li>
					<p> <strong> Pour gérer vos demandes: </strong> pour participer et gérer vos demandes. </p>
				</li>
				<li>
					<p> <strong> Pour les transferts d'entreprise: </strong> Nous pouvons utiliser vos informations pour évaluer ou mener une fusion, un désinvestissement, une restructuration, une réorganisation, une dissolution ou toute autre vente ou transfert de tout ou partie de nos actifs, que ce soit en tant que en cours de fonctionnement ou dans le cadre d'une faillite, d'une liquidation ou d'une procédure similaire, dans laquelle les données personnelles que nous détenons sur les utilisateurs de nos services font partie des actifs transférés. </p>
				</li>
				<li>
					<p> <strong> À d'autres fins </strong>: nous pouvons utiliser vos informations à d'autres fins, telles que l'analyse des données, l'identification des tendances d'utilisation, la détermination de l'efficacité de nos campagnes promotionnelles et pour évaluer et améliorer notre service, nos produits et nos services. , marketing et votre expérience. </p>
				</li>
			</ul>
			<h2> Conservation de vos données personnelles </h2>
			<p> La Société ne conservera vos données personnelles que le temps nécessaire aux fins énoncées dans la présente politique de confidentialité. Nous conserverons et utiliserons vos données personnelles dans la mesure nécessaire pour nous conformer à nos obligations légales (par exemple, si nous sommes tenus de conserver vos données pour nous conformer aux lois applicables), résoudre les litiges et appliquer nos accords et politiques juridiques. </p>
		</div>
	</div>
</body>