{{> header}}

<section class="py-5 container">
  <div>
    <div>
      <h1>{{num_found}} centres trouvés</h1>
    </div>
  </div>

<div class="album py-5 px-2 ">
  <div class="container">
    <div class ="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {{#results}}
      <div class="col">
        <div class="card shadow-sm">
          
          <img src="{{img}}" class="bd-placeholder-img card-img-top" width="100%" height= "225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          
            <div class="card-body">
              <p class="card-text">{{name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                {{#authenticated1}}
                  <div class="btn-group">
                    <input class="btn btn-sm btn-warning" type="button" onclick="window.location.href='/reserve/{{entry}}'" value='Reserver' />
                  </div>
                {{/authenticated1}}

              {{#authenticated2}}
                <div class="btn-group">
                  <input class="btn btn-warning" type="button" onclick="window.location.href='/read/{{entry}}'" value='View' />
                </div>
              {{/authenticated2}}
              </div>
            </div>
          </div>
        </div>
  {{/results}}
    </div>
  </div>
</div>




  </section>









{{> footer}}
