{{> header}}
  <form action="/update/{{id_particulier}}" method="post">
    <div>

      <div>






        <h1> Modifier un rendez-vous </h1>
        <p>Nom du centre : <input type="text" name="name" required></p>
        <p>Image : <input type="url" name="img" required></p>
        <p>Adresse : <br> <textarea name="adresse" required></textarea></p>
        <p>Code postal : <input type="text" name="code" required></p>
        <p>Tel : <input type="integer" name="tel" required></p>
        <p>Heure ouverture : <input type="time" name="heureOuverture" required></p>
        <p>Heure fermeture : <input type="time" name="heureFermeture" required></p>
        <div class="form-group form-check">
                  <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="remember" required> Etes-vous sur de ces informations ? Si oui cochez cette case.
                      </label>
        </div>

        <div>
          <input type="submit" value="Modifier" class="w-20 btn btn-outline-warning btn-primary">
          <a href="/read/{{id_particulier}}"class="w-20 btn btn-outline-warning btn-primary" >Annuler</a>
        </div>




      </div>
    </div>
  </form>
{{> footer}}
